<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Usuarios</title>
    <link rel="stylesheet" href="/assets/css/style_welcome.css">
    <link rel="stylesheet" href="/assets/css/style_register_show.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>
    <aside class="sidebar">
        <nav class="navbar">
            <span class="nav-item">
                <i class="fas fa-user"></i> {{ username }}
            </span>
            <a href="/users/me/show" class="nav-item">Mostrar Usuarios</a>
            <a href="/users/me/register_show" class="nav-item">Registrar Nuevo Usuario</a>
            <form id="logout" class="logout">
                <button class="button_logout" type="submit">Cerrar sesión</button>
            </form>
        </nav>
    </aside>


    <div id="register" class="main-content">
        <div class="welcome-container">
            <h2>Gestión de Usuarios</h2>
            <div class="form-and-table">
                <div class="button-row">
                    <input type="number" id="id-user" name="id-user" placeholder="ID">
                    <button type="button" id="btn-create" onclick="createUser()">Crear Usuario</button>
                </div>
    
                <!-- Formulario de registro -->
                 <form class="register-form" id="register-form"></form>
                
    <div class="register-item">
        <label for="username">Nombre de Usuario:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div class="register-item">
        <label for="new-password">Contraseña:</label>
        <input type="password" id="new-password" name="new-password" required>
    </div>
    <div class="register-item">
        <label for="confirm-password">Confirmación de Contraseña:</label>
        <input type="password" id="confirm-password" name="confirm-password" required>
    </div>
                        </form>

    
                <!-- Tabla de usuarios -->
                    <table class="user-list">
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Contraseña (Hashed)</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td data-label="ID"><span>{{ user.id }}</span></td>
            <td data-label="Usuario"><span>{{ user.username }}</span></td>
            <td data-label="Contraseña"><span>{{ user.hashed_password }}</span></td>
        </tr>
        {% endfor %}
    </tbody>
                    </table>

                </div>
        </div>
    </div>


    <script src="/assets/js/script_welcome.js"></script>
    <script src="/assets/js/script_register_show.js"></script>
</body>

</html>