<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Usuarios</title>
    <link rel="stylesheet" href="/assets/css/style_welcome.css">
    <link rel="stylesheet" href="/assets/css/style_show.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <aside class="sidebar">
        <nav class="navbar">
            <span class="nav-item">
                <i class="fas fa-user"></i> {{ username }}
            </span>
            <a href="/users/me/show" class="nav-item">Mostrar Usuarios</a>
            <a href="/users/me/register_show" class="nav-item">Registrar Nuevo Usuario</a>
            <form id="logout" class="logout">
                <button class="button_logout" type="submit">Cerrar sesión</button>
            </form>
        </nav>
    </aside>
    
    <div class="main-content">
        <div class="welcome-container">
            <h2>Lista de Usuarios</h2>
            <p>Aquí puedes ver la lista de todos los usuarios registrados en el sistema.</p>
            <table class="user-list">
                <thead>
                    <tr>
                        <th>USUARIO</th>
                        <th>CONTRASEÑA (HASHED)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td data-label="Usuario"><span>{{ user.username }}</span></td>
                        <td data-label="Contraseña"><span>{{ user.hashed_password }}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="/assets/js/script_welcome.js"></script>
</body>
</html>
